<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment1</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js" defer></script>
</head>
<body>
    <!-- Header -->
    <header>

        <!-- Logo/Rubrik -->
        <h1><a href="/" class="logo">Moment 1</a></h1>

        <!-- Navigeringsmeny -->
        <!-- Meny i mobilläge -->
        <button class="menu-btn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>
        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>
            <ul class="nav-list">
                <li><a href="/" class="nav-links" >Startsida</a></li>
                <li><a href="/add-courses" class="nav-links">Lägg till ny kurs</a></li>
                <li><a href="/about" class="nav-links" id="actual-side">Om webbplatsen</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Om webbplatsen</h2>
        
        <section>
            <h3>Webbplats beskrivning</h3>
            <p>
                I denna webbplats, kan anvädnare se vilka kurser som är tillagda i databasen, ändra eller radera de befintliga, och lägga till nya kurser som inte finns i databasen.              
            </p> 
            <p>
                För databas-server har jag använt PostgreSQL, eftersom den är en av de mesta kraftfulla, använda databashanterarna i världen, och används ofta i stora projekt samt komplexa applikationer. 
            </p> 
            <p>
                Webbplatsen består av tre sidor:
            </p>
            <ul>
                <li>
                    Startsida som visar tabell som innehåller tillagda kurser i Databasen, där användare kan ändra eller radera kurser. Det finns även en knapp för att lägga till en ny kurs och skicka vidare till formulärsida.
                </li>
                <li>
                    Lägg till ny kurs som innehåller formulär där användare kan mata in en ny kurs, så den blir lagrad i databasen, vidarebefordras till startsidan och syns i tabellen
                </li>
                <li>
                    Om webbplatsen: (Denna sida) som innehåller beskrivning av webbplatsen, dess syfte samt information om vilken databas-server som har använts.
                </li>
            </ul>
        </section>
        <section>
            <h3>Slutsatser av uppgiften</h3>
            <p>
                Uppgiften har gett mig goda kunskaper om hur Backend-baserad webbapplikation är uppbyggd med Node.js, Express samt PostgreSQL, såsom:
            </p>
            <ul>
                <li>
                    Att bygga en lokal server med Express samt Node.js
                </li>
                <li>
                    Användning av routing för att skapa en dynamisk webbplats.
                </li>
                <li>
                    Användning av "get" samt "post" för hantera inmatade kursinformation, lagra data i samt hämta ifrån databasen.
                </li>
            </ul>
        </section>
    </main>
    <footer>
      <p>Laborationsuppgift för kursen DT207G, Backend-baserad webbutveckling</p>
      <p>&copy;Copyright Tommy Issa, 2025</p>
    </footer>
</body>
</html>